@font-face {
  font-family: 'OutFit';
  src: url('../fonts/Google_font_OutFit.ttf') format('truetype');
  font-style: normal;
  font-weight: 100 900;
}

body {
  font-family: 'OutFit', 'Mincrosoft YaHei', 'PingFang SC', 'Noto Sans SC';
    background: url('../backgrounds/background.jpeg') no-repeat center center fixed;
    background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgba(86, 1, 19, 0.708);
  -webkit-tap-highlight-color: transparent;
}

p, a, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.layout{

}

.card {
  display: flex;
  margin: 0 0;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 222, 233, 0.1);
  border-radius: 24px;
  padding: 14px 24px 14px 24px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, backdrop-filter 0.3s ease, transform 0.3s ease;
  animation: popInUp 0.6s ease;
}

.card:hover {
  transform: scale(1.02) translateY(-1px);
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 12px -1px rgba(0, 0, 0, 0.1);
}

.lable {
  display: flex;
  margin: 0 0;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 2px 14px 2px 14px;
  box-shadow: 0px 2px 4px 6px rgba(228, 228, 228, 0.06);
  flex-direction: row;
  align-items: left;
  max-width: fit-content;
  max-height: fit-content;
}

.button {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 4px 6px -1px rgba(91, 91, 91, 0.1), 0 2px 4px -2px rgba(115, 115, 115, 0.1);
  border: 1px solid rgba(135, 135, 135, 0.1);
  border-radius: 50%;
  cursor: pointer;
  padding: 7px 14px;
  border-radius: 24px;
  max-width: fit-content;
  max-height: fit-content;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(1.05) translateY(-1px);
  box-shadow: 0 12px 24px -8px rgba(128, 128, 128, 0.15), 0 4px 8px -4px rgba(121, 121, 121, 0.1);
}

.button:active {
  transform: scale(0.95) translateY(1px);
  transition: transform 0.1s ease;
  background-color: rgba(218, 204, 204, 0.2);
}

.link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0;
  border-radius: 50%;
  max-width: 35px;
  max-height: 35px;
  padding: 2px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.link-button img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
}

.link-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(1.05) translateY(-1px);
  box-shadow: 0 12px 24px -8px rgba(0, 0, 0, 0.15), 0 4px 8px -4px rgba(0, 0, 0, 0.1);
}

.link-button:active {
  transform: scale(0.95) translateY(1px);
  transition: transform 0.1s ease;
}
