@font-face {
  font-family: 'OutFit';
  src: url('../fonts/Google_font_OutFit.ttf') format('truetype');
  font-style: normal;
  font-weight: 100 900;
}

body {
  font-family: 'OutFit', 'Mincrosoft YaHei', 'PingFang SC', 'Noto Sans SC';
    background: url('../backgrounds/background.jpeg') no-repeat center center fixed;
    background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgba(86, 1, 19, 0.708);
  -webkit-tap-highlight-color: transparent;
}

p, a, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

