.overlay {
  position: fixed;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  animation: fadeIn 0.3s ease;
  inset: 60px 0 0 0;
}

.overlay.fade-out {
  animation: fadeOut 0.3s ease 0.2s forwards;
}

.weather-main-card.fade-out {
  animation: fadeOutDown 0.2s ease forwards;
}
